<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.customer.CustomerMapper">
    <resultMap id="BaseResultMap" type="cn.pojo.customer.Customer">
        <constructor>
            <idArg column="c_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="c_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="c_password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="c_email" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="c_sex" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="c_phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="c_customerId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="c_createDate" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="c_modifyDate" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="c_createBy" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="c_modifyBy" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    c_id, c_name, c_password, c_email, c_sex, c_phone,
    c_customerId, c_createDate, c_modifyDate, c_createBy, c_modifyBy
  </sql>

    <!-- 手机号是否注册 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from f35_customer
        where c_phone = #{c_phone}
    </select>

    <!-- 查询所有用户 -->
    <select id="getAllCustomer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM f35_customer cus
        WHERE 1 = 1
        <if test="cName != null and cName != ''">
            AND cus.c_name like CONCAT('%',#{cName},'%')
        </if>
        <if test="cSex != null and cSex != ''">
            AND cus.c_sex = #{cSex}
        </if>
        ORDER BY cus.c_id ASC limit #{from},#{pageSize}
    </select>

    <!-- 查询用户数 -->
    <select id="getCusCount" resultType="int">
        SELECT count(1) as count FROM f35_customer cus
        WHERE 1 = 1
        <if test="cName != null and cName != ''">
            AND cus.c_name like CONCAT('%',#{cName},'%')
        </if>
        <if test="cSex != null and cSex != ''">
            AND cus.c_sex = #{cSex}
        </if>
    </select>

    <!--根据号码查询用户-->
    <select id="getCurrentCustom" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM f35_customer
        WHERE c_phone = #{number}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f35_customer
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>


    <insert id="insert" parameterType="cn.pojo.customer.Customer">
    insert into f35_customer (c_id, c_name, c_password, 
      c_email, c_sex, c_phone, 
      c_customerId, c_createDate, c_modifyDate, 
      c_createBy, c_modifyBy)
    values (#{cId,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{cPassword,jdbcType=VARCHAR}, 
      #{cEmail,jdbcType=VARCHAR}, #{cSex,jdbcType=VARCHAR}, #{cPhone,jdbcType=VARCHAR}, 
      #{cCustomerid,jdbcType=INTEGER}, NOW(), #{cModifydate,jdbcType=DATE},
      #{cCreateby,jdbcType=INTEGER}, #{cModifyby,jdbcType=INTEGER})
  </insert>

    <!-- 会员注册 -->
    <insert id="insertSelective" parameterType="cn.pojo.customer.Customer">
        insert into f35_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cId != null">
                c_id,
            </if>
            <if test="cName != null">
                c_name,
            </if>
            <if test="cPassword != null">
                c_password,
            </if>
            <if test="cEmail != null">
                c_email,
            </if>
            <if test="cSex != null">
                c_sex,
            </if>
            <if test="cPhone != null">
                c_phone,
            </if>
            <if test="cCustomerid != null">
                c_customerId,
            </if>

            c_createDate,

            <if test="cModifydate != null">
                c_modifyDate,
            </if>
            <if test="cCreateby != null">
                c_createBy,
            </if>
            <if test="cModifyby != null">
                c_modifyBy,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cId != null">
                #{cId,jdbcType=INTEGER},
            </if>
            <if test="cName != null">
                #{cName,jdbcType=VARCHAR},
            </if>
            <if test="cPassword != null">
                #{cPassword,jdbcType=VARCHAR},
            </if>
            <if test="cEmail != null">
                #{cEmail,jdbcType=VARCHAR},
            </if>
            <if test="cSex != null">
                #{cSex,jdbcType=VARCHAR},
            </if>
            <if test="cPhone != null">
                #{cPhone,jdbcType=VARCHAR},
            </if>
            <if test="cCustomerid != null">
                #{cCustomerid,jdbcType=INTEGER},
            </if>

            NOW(),

            <if test="cModifydate != null">
                #{cModifydate,jdbcType=DATE},
            </if>
            <if test="cCreateby != null">
                #{cCreateby,jdbcType=INTEGER},
            </if>
            <if test="cModifyby != null">
                #{cModifyby,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.pojo.customer.Customer">
        update f35_customer
        <set>
            <if test="cName != null">
                c_name = #{cName,jdbcType=VARCHAR},
            </if>
            <if test="cPassword != null">
                c_password = #{cPassword,jdbcType=VARCHAR},
            </if>
            <if test="cEmail != null">
                c_email = #{cEmail,jdbcType=VARCHAR},
            </if>
            <if test="cSex != null">
                c_sex = #{cSex,jdbcType=VARCHAR},
            </if>
            <if test="cPhone != null">
                c_phone = #{cPhone,jdbcType=VARCHAR},
            </if>
            <if test="cCustomerid != null">
                c_customerId = #{cCustomerid,jdbcType=INTEGER},
            </if>
            <if test="cCreatedate != null">
                c_createDate = #{cCreatedate,jdbcType=DATE},
            </if>
            <if test="cModifydate != null">
                c_modifyDate = #{cModifydate,jdbcType=DATE},
            </if>
            <if test="cCreateby != null">
                c_createBy = #{cCreateby,jdbcType=INTEGER},
            </if>
            <if test="cModifyby != null">
                c_modifyBy = #{cModifyby,jdbcType=INTEGER},
            </if>
        </set>
        where c_id = #{cId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.pojo.customer.Customer">
    update f35_customer
    set c_name = #{cName,jdbcType=VARCHAR},
      c_password = #{cPassword,jdbcType=VARCHAR},
      c_email = #{cEmail,jdbcType=VARCHAR},
      c_sex = #{cSex,jdbcType=VARCHAR},
      c_phone = #{cPhone,jdbcType=VARCHAR},
      c_customerId = #{cCustomerid,jdbcType=INTEGER},
      c_createDate = #{cCreatedate,jdbcType=DATE},
      c_modifyDate = #{cModifydate,jdbcType=DATE},
      c_createBy = #{cCreateby,jdbcType=INTEGER},
      c_modifyBy = #{cModifyby,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
</mapper>