* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}

.header_1 {
    line-height: 36px;
    z-index: 5;
    background: #fff;
}

.div_main_1 {
    width: 1000px;
    /*border: 1px solid red;*/
    height: 36px;
    margin: 0px auto;
}

.header_2 {
    background: url(../../image/sign_img/mainNav_bg.png) 0 0 repeat;
}

.header_li {
    display: inline-block;
    margin: 0px 5px;
}

.header_li_right {
    float: right;
}

.header_a {
    font-size: 12px;
    color: #333;
}

.div_main_2 {
    width: 1000px;
    /*border: 1px solid red;*/
    height: 72px;
    margin: 0px auto;
}

.header_left {
    display: inline-block;
    height: 72px;
    line-height: 72px;
    color: white;
    font-size: 50px;
    text-align: center;
    width: 150px;
    /*border: 1px solid red;*/
}

.header_right {
    float: right;
    /*border: 1px solid black;*/
    height: 72px;
    line-height: 72px;
}

.f35_logo {
    margin: auto;
    display: block;
    line-height: 72px;
    float: left;

}

.menu_a {
    font-size: 16px;
    color: white;
    width: 120px;
    display: block;
    text-align: center;
}

.menu_li {
    display: inline-block;
    float: left;
}

.main_div {
    width: 1000px;
    /*height: 500px;*/
    /*border: 1px solid red;*/
    margin: 30px auto 0px;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.3);
}

.main_li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 250px;
    text-align: center;
    border-bottom: 0;
}

.main_left {
    width: 50%;
    display: inline-block;
}

.main_form li dt {
    float: left;
    font-size: 12px;
    width: 90px;
    text-align: right;
    margin-right: 20px;
}

.main_form li {
    height: 56px;
    line-height: 56px;
}

.main_form i {
    padding-right: 5px;
    color: red;
}

.input_pub {
    width: 278px;
}

#surePhone {
    width: 123px;
}

input[name="getPassMark"] {
    width: 123px;
    height: 32px;
}

.input {
    height: 20px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
    border: 1px grey solid;
}

.ch_checkbox {
    border: 2px solid grey;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#ch_checkbox {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.main_form li.agree_li {
    height: 30px;
    line-height: 30px;
}

.sign_a {
    width: 300px;
    height: 40px;
    display: inline-block;
    background-color: #f95454;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
}

#passwordLv {
    background: url("../../image/sign_img/passwordSecureLevel.png");
    width: 190px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

/*#getMark{*/
/*background-color: #f8f8f8;*/
/*cursor: pointer;*/
/*}*/

.login_a {
    font-size: 12px;
}

.footer_div {
    width: 1000px;
    margin: 0px auto;
    vertical-align: middle;
    /*height: auto;*/
    /*height: 75px;*/
}

body {
    background: #e6e2dd url(../../image/sign_img/bg.png) left 108px repeat-x;
    font: 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", sans-serif, tahoma, arial, \5b8b\4f53;
}

main {
    background-color: #fafafa;
    padding-bottom: 40px;
    /*margin-bottom: 45px;*/
}

.main_div_2 {
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid #dcdcdc;
    min-height: 284px;
    padding: 15px 12px 0px;
    background: #fff;
}

.one_li {
    border-top: 4px solid #ea3a3a;
    background: #f9f9f9;
}

.com_li {
    background-color: #f2f2f2;
    border: 1px solid #dcdcdc;
    color: #666;

}

.sendVerifyCode {
    width: 130px;
    border: solid 1px #ff7729;
    border-left: 0;
    outline: 0;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: #ff7729;
    color: #fff;
    padding: 0 3px 0 3px;
    border-radius: 3px;
}

.errBubble {
    display: none;
    min-width: 100px;
    font-size: 14px;
    color: #e73c40;
    box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.20);
    background: #fff9e9;
    border: #f5d6ba solid 1px;
    padding: 5px;
    z-index: 19998;
    border-radius: 5px;
    height: 20px;
    position: absolute;
    left: 110px;
    top: -26px;
    max-width: 288px;
    line-height: 20px;
    text-align: center;
}

.right_icon {
    display: none;
    width: auto;
    min-width: 30px;
    height: 30px;
    background: url(../../image/sign_img/login_icon.png) -4px -606px no-repeat;
    float: right;
    position: absolute;
    top: 12px;
    left: 410px;
}

.main_right {
    width: 50%;
    /*height: 100px;*/
    /*border:1px solid red;*/
    display: inline-block;
    float: right;
}

.right_center {
    width: 360px;
    margin: 0px auto;
    height: 450px;
    /*border:1px red solid;*/
}

.right_dd {
    height: 80px;
    line-height: 80px;
    padding-left: 60px;
}

.right_dt {
    color: #999;
    margin: 20px 0px;
}

.right_dd_1 {
    background: url(../../image/sign_img/services_icon.png) 0 0 no-repeat;
}

.right_dd_2 {
    background: url(../../image/sign_img/services_icon.png) 0px -80px no-repeat;
}

.right_dd_3 {
    background: url(../../image/sign_img/services_icon.png) 0 -160px no-repeat;
}

.right_dd_4 {
    background: url(../../image/sign_img/services_icon.png) 0 -240px no-repeat;
}




