<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.news.NewsMapper" >
  <!--查询-->
  <select id="findNews" resultType="News">
    select * from f35_information
  </select>

    <select id="findNewsList" resultType="News">
        SELECT * FROM f35_information
        <where>
            <if test="title != null and title != ''">
                and title like CONCAT('%',#{title },'%')
            </if>
        </where>
        order by createTime desc limit #{from},#{pageSize}
    </select>

    <select id="findNewsCount" resultType="int">
        SELECT count(1) as count FROM f35_information
       <where>
            <if test="title != null and title != ''">
            and title like CONCAT('%',#{title },'%')
        </if>
      </where>
    </select>
  <!--save-->
  <insert id="save" parameterType="News">
    INSERT INTO f35_information(
              title,content,createTime,createBy,modifyTime,modifyBy,picpath
                  )
        VALUES(#{title},#{content},#{createTime},#{createBy},NOW(),#{modifyBy},#{picpath})

  </insert>

    <select id="findById" resultType="News">
        SELECT *
        FROM f35_information
        WHERE id=#{id}
    </select>

    <!-- delete -->
    <delete id="delete">
        delete from f35_information where id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="News">
        update f35_information
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content !=''">content = #{content},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="createBy != null and createBy != '0'">createBy = #{createBy}</if>
            <!--<if test="modifyTime != null and modifyTime != ''">modifyTime = #{modifyTime},</if>-->
            <!--<if test="modifyBy != null and modifyBy != 0">modifyBy = #{modifyBy},</if>-->
            <!--<if test="picpath != null and picpath != ">picpath = #{picpath},</if>-->
            <!--<if test="1 == 1">modifyDate = NOW()</if>-->
        </set>
        WHERE id=#{id}
    </update>
</mapper>